

.logincart{
    background-color: white;
    border-radius: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    width: 299px;
    height: 460px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    padding: 40px;
    margin: auto;
}

.logincart h1{
    text-align: center;
    font-size: 24px;
    margin-bottom: 50px;
}



.logincart input{
    background: transparent;
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;

}

.click{
    font-weight: 700;
    cursor: pointer;
}

.button{
    width: 100%;
    padding: 0.75rem;
    background-color: green;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


.formgroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}


.select{
    display: flex;
    flex-direction: column;
}

.select p{
    font-size: 12px;
    margin-top: -20px;
    margin-bottom: 25px;
}
