
.products {
  padding: 50px 20px;
  text-align: center;
}

.products h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #2e7d32;
  margin-bottom: 70px;
}

.productgrid {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.productcard {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 250px;
  padding: 16px;
  transition: transform 0.3s ease;
}

.productcard:hover {
  transform: translateY(-5px);
}

.productcard img {
  width: 250px;
  height: 363px;
  border-radius: 5px;
}


.productcard p {
  margin-bottom: 10px;
  font-weight: bold;
  color: #388e3c;
}

.addtocart {
  padding: 8px 12px;
  background-color: #2e7d32;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.addtocart:hover {
  background-color: #1b5e20;
}